@import "../../Common/color.scss";

.movie-list {
  margin: 20px 0px;
  h2 {
    color: $font-secondry;
    margin-top: 10px;
    font-weight: 400;
  }
}
.movies-erros {
  margin: 20px 0px;
  h1 {
    color: $font-secondry;
    margin-top: 10px;
    font-weight: 400;
  }
}
.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 15px;
}
